HOST=127.0.0.1
PORT=3010

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=email_tracking

EMAIL_TRACKING_BASE_URL=http://127.0.0.1:3010
EMAIL_TRACKING_ASSET_PATH=/image/060926-Mailing2_01.png
EMAIL_TRACKING_DEFAULT_CAMPAIGN=
